{% extends 'pervi_sait/loyaut.html' %}
{% block title %}<p>Акции</p>{% endblock %}
{% block content %}
    <div class="table text-danger">
        <p>Устали копить деньги на покупку нового автомобиля? Больше не нужно!</p>
        <b>До 31 мая в Чуваш-Авто действует беспроцентная рассрочка на покупку автомобиля LADA*:</b><br>

0% переплат;<br>
Первый взнос от 0 руб.;<br>
Срок 18 или 24 мес.<br>
Узнайте подробности по тел. (8352) 333-333 или оставьте заявку на обратный звонок.<br>

    </div>
{% endblock %}