{% extends 'pervi_sait/loyaut.html' %}
{% block title %}<p>Акции</p>{% endblock %}
{% block content %}
    <div class="table text-danger">
        <p>Устали копить деньги на покупку нового автомобиля? Больше не нужно!</p>
        <b>До 31 мая в Чуваш-Авто действует беспроцентная рассрочка на покупку автомобиля LADA*:</b><br>

0% переплат;<br>
Первый взнос от 0 руб.;<br>
Срок 18 или 24 мес.<br>
Узнайте подробности по тел. (8352) 333-333 или оставьте заявку на обратный звонок.<br>

<small><i>Почему выбирают «Чуваш-Авто»:

Большой выбор автомобилей в «Чуваш-Авто». В наличии автомобили LADA всех моделей, цветов и комплектаций, доступных на рынке.
Все в одном месте. Доступны все необходимые покупателю услуги: кредитование, страхование, сервисное и гарантийное обслуживание.
Качественное техническое обслуживание. В сервисном центре "Чуваш-Авто" работают сертифицированные специалисты. Используются только оригинальные запчасти и инновационное оборудование. Для обеспечения возможности клиентов наблюдать за процессом обслуживания и ремонта автомобилей ведется онлайн-видеотрансляция.
Удобное месторасположение. Мы находимся по адресу Ядринсское шоссе , 4 (между г.Чебоксары и г.Новочебоксарском).
Бонусная программа «Мой Альянс». Все клиенты дилерского центра "Диал-Авто" становятся участниками программы лояльности «Мой Альянс». Начисленными бонусными баллами можно оплатить до 10% стоимости сервисных услуг, дополнительного оборудования и запасных частей, получить бесплатный обед и услуги такси.
</i></small>
    </div>
{% endblock %}