{% extends 'pervi_sait/loyaut.html' %}
{% block title %}{{ auto.marka }}{% endblock %}
{% block content %}
    <h1>{{ auto.marka }}</h1>
    <h2>{{ auto.model }}</h2>
    <h3>{{ auto.harakteristika }}</h3>
    <h4>{{ auto.data}}</h4><br>
    <a href="{% url 'update_auto' auto.id %}" class="btn btn-light">Редактировать</a>
    <a href="{% url 'delete_auto' auto.id %}" class="btn text-bg-info" onclick="return window.confirm('Вы действительно хотите удалить?')">Удалить</a>
{#    <a href="" onclick="return window.confirm('Вы действительно хотите удалить?')">удалить</a>#}
{% endblock %}
