{% extends 'pervi_sait/loyaut.html' %}
{%block title %}{{ title }}{% endblock %}
{% block content %}
    {{ list_1 }}
<div id ="content">
    <a id="akcii" href="vse_auto" >Акции</a>
    <a id="treid-in" href="vse_auto" >Трейд-ин</a>
    <a id="to" href="vse_auto" >Запись на ТО</a>
<form action="glavnaya" method="get">
    Выберите авто
      <select>
        <option name="марка">MERSEDES-BENZ</option>
        <option>BMW</option>
        <option>AUDI</option>
      </select>
</form>
<form>
    Выберите модель
    <select>
            <option name="модель">MERSEDES-A-CLASS</option>
            <option>MERSEDES-B-CLASS</option>
            <option>MERSEDES-C-CLASS</option>
            <option>AUDI-A-1</option>
            <option>AUDI-A-3</option>
            <option>AUDI-A-4</option>
            <option>BMW-2-СЕРИИ</option>
            <option>BMW-3-СЕРИИ</option>
            <option>BMW-5-СЕРИИ</option>
    </select>
    </form>
</div>
{% endblock %}
