{% extends 'pervi_sait/loyaut.html' %}
{%block title %}{{ auto.marka }}{% endblock %}
{% block content %}
{#    {{ list_1 }}#}
<div id ="content">
<form action="glavnaya" method="get">
    <label>
    Выберите авто
      <select name="marka">
        <option >MERSEDES-BENZ</option>
        <option>BMW</option>
        <option>AUDI</option>
      </select>
    Выберите модель<br>
      <select name="model">
            <option>MERSEDES-A-CLASS</option>
            <option>MERSEDES-B-CLASS</option>
            <option>MERSEDES-C-CLASS</option>
            <option>AUDI-A-1</option>
            <option>AUDI-A-3</option>
            <option>AUDI-A-4</option>
            <option>BMW-2-СЕРИИ</option>
            <option>BMW-3-СЕРИИ</option>
            <option>BMW-5-СЕРИИ</option>
      </select>
      <input type="submit" class="btn btn-success" >
      </label>
</form>
</div>
{% endblock %}
