{% extends 'pervi_sait/loyaut.html' %}
{%block title %}{{ auto.marka }}{% endblock %}
{% block content %}
{#    <div class="content">#}
        <form class="form" method="get">
{#            {% csrf_token %}#}
            {{ form1.marka}}<br>
            {{ form1.model}}<br>
{#            <span>{{ error }}</span>#}
            <button type="submit" class="btn btn-success">Выбрать</button>
        </form>
{#    </div>#}
{#    <div>#}
{#    <form action="vtoraya" method="get">#}
{#    Выберите автомобиль#}
{#      <select name="marka">#}
{#        <option >MERSEDES-BENZ</option>#}
{#        <option>BMW</option>#}
{#        <option>AUDI</option>#}
{#      </select>#}
{#      <select name="model">#}
{#            <option>MERSEDES-A-CLASS</option>#}
{#            <option>MERSEDES-B-CLASS</option>#}
{#            <option>MERSEDES-C-CLASS</option>#}
{#            <option>AUDI-A-1</option>#}
{#            <option>AUDI-A-3</option>#}
{#            <option>AUDI-A-4</option>#}
{#            <option>BMW-1-СЕРИИ</option>#}
{#            <option>BMW-3-СЕРИИ</option>#}
{#            <option>BMW-5-СЕРИИ</option>#}
{#      </select>#}
{#      <input type="submit" class="btn btn-success" >#}
{#      </form>#}
{#    </div>#}
{% endblock %}
