{% extends 'pervi_sait/loyaut.html' %}
{% block title %}{% endblock %}
{% block content %}
        <p>BMW</p>
    {% if asd %}
        {% for el in asd %}
            <div class="alert alert-warning">
                <h3>{{ el.marka }}</h3>
                <h4>{{ el.model }}</h4>
                <p>{{ el.harakteristika|linebreaks|truncatewords:10 }}</p>
                <p>{{ el.data }}</p>
                <a href="{% url 'details_view' el.id %}" class="btn btn-warning">Посмотреть</a>

            </div>
        {% endfor %}
    {% else %}
        <p>Нет машин в наличии!</p>
    {% endif %}
{% endblock %}
