<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Александр Егоров">
    <meta name="description" content="Первая страничка">
    <meta name="keywords" content="Вторая страничка,тест,html">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="main.css">
    <title>Выбор автомобилей</title>
</head>
<body>
<div id="header">Лучшие авто только у нас</div>
<div id ="menu2" >




</div>
<div id="footer">Мы находимся по адрессу г.Чебоксары Ядринское шоссе 4 тел. 8 962 321 7456</div>
</body>
</html>