<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="/main.css">
  <title>МАГАЗИН</title>
<meta charset="UTF-8">
    <meta name="author" content="Александр Егоров">
    <meta name="description" content="Первый сайт">
    <meta name="keywords" content="Первый сайт,магазин,тест,html">
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="img/" type="image/x-icon">

</head>
<body>
<div id="header"><b>ЧУВАШАВТО<br><a href="http://localhost:63342/pythonProject/%D0%B2%D1%82%D0%BE%D1%80%D0%B0%D1%8F.html?_ijt=76a1d0e3uvj0defds6tnviflj7&_ij_reload=RELOAD_ON_SAVE">Лучшие автомобили по доступной цене</a></b></div>
<div id="menu">
    <div id="foto1"><a href="вторая.html">bmw</a></div>
    <div id="foto2"><a href="вторая.html">mersedes</a></div>
    <div id="foto3"><a href="вторая.html">audi</a></div>
</div>
<div id ="content">
    <form action="вторая.html" method="get">
    <select >
        <option name="марка">MERSEDES-BENZ</option>
        <option>BMW</option>
        <option>AUDI</option>
    </select>
    <select >
        <option name="модель">MERSEDES-A-CLASS</option>
        <option>MERSEDES-B-CLASS</option>
        <option>MERSEDES-C-CLASS</option>
        <option>AUDI-A-1</option>
        <option>AUDI-A-3</option>
        <option>AUDI-A-4</option>
        <option>BMW-2-СЕРИИ</option>
        <option>BMW-3-СЕРИИ</option>
        <option>BMW-5-СЕРИИ</option>
    </select>
    </form>

</div>
<div id="footer">
    Регистрация на сайте
    <label>
        <input id="imya" type="text" placeholder="Имя">
        <input id="parol" type="password" placeholder="Пароль">
    </label>
    <address>Мы находимся по адрессу г.Чебоксары Ядринское шоссе 4 тел. 8 962 321 7456</address>
</div>

</body>
</html>